<ul class="nav nav-tabs nav-view">
	<li class="nav-item">
		<%= link_to "Layout", admin_page_path(@page), id: 'layout', class: 'nav-link active' %>
	</li>
	<li class="nav-item">
		<a id="prop" class="nav-link page-link" href="#">Properties</a>
	</li>
	<li class="nav-item page-css-link">
		<a id="containers" class="nav-link page-link" href="#">Containers</a>
	</li>
</ul>