<%= f.hidden_field :text_html_flag, value: 1 %>
<div id="content_select">
  <div class="form-group">
    <label for="content_item_css"><%= f.label :css_classes, "CSS space separated class names" %></label>
    <%= f.text_field :css_classes, :class => "form-control" %>
  </div>  
	<div class="form-group">
	  <label for="content_group_item_body">HTML</label>
	  <div class="form-control-border">
	    <%= f.text_area :body, :class => "form-control codemirror-html" %>
	  </div>
	</div>	
</div>
