<div class="bs-help">
	<p>Use Bootstrap CSS classes plus your own to set the look and behavior of the navigation item.</p> 
	<p>Class nav-item is automatically included.</p>
</div>
<label for="navigation_item_css_classes"><%= f.label :css_classes, "CSS space separated class names" %></label>
<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="basic-addon1">nav-item</span>
  </div>
  <%= f.text_field :css_classes, value: @navigation_item.css_classes ? @navigation_item.added_css_classes : '', :class => "form-control" %>
</div>
<% @navigation_item.link_text = LinkText.new unless  @navigation_item.link_text %>
<%= fields_for @navigation_item.link_text do |link| %>
  <%= render partial: "admin/link_texts/form", locals: {link: link, link_text: @navigation_item.link_text } %>
<% end %>

