<%= raw("<div class=\"#{image_group.css_classes}\">") if image_group.css_classes =~ /\S+/ %>
  <%= render partial: "application/#{image_group.image_group_type =~ /masonry/ ? 'image_grid_masonry' : 'image_grid_fixed' }", locals: {row: row,col: col,image_group: image_group} %>
<%= raw("</div>") if image_group.css_classes =~ /\S+/  %>
