<div class="jumbotron<%= ' jumbotron-fluid' if container.container_type == 'jumbotron_fluid' %>">
<% if container.content %>
  <div class="<%= 'container 'if container.container_type == 'jumbotron_fluid' %><%= container.css_classes %>">
    <%= render partial: 'contents/show', locals: { content: container.content } %>
  </div>
<% end %>
</div>
