<div class="container container-fluid">

	<h1>The change you wanted was rejected, Error 422</h1>

	<p>Maybe you tried to change something you didn't have access to.</p>
	<p>Return to the site's home page by clicking here: <%= link_to 'Return Home.', '/' %></p>
</div>
