<div class="container container-fluid">
	<h1>Oops, something went wrong on our server: Error 500</h1>

	<p>The page you are looking for is not available.</p>
	<p>Return to the site's home page by clicking here: <%= link_to 'Return Home.', '/' %></p>
</div>