<div class="row">
	<div class="col-md">
		<div class="font-open-sans-light">
			<h1>OpenSansLight AaBbCc 123</h1>
			<h2>OpenSansLight AaBbCc 123</h2>		
			<h3>OpenSansLight AaBbCc 123</h3>
			<h4>OpenSansLight AaBbCc 123</h4>
			<p>OpenSansLight AaBbCc 123</p>
		</div>

		<div class="font-open-sans">
			<h1>OpenSans AaBbCc 123</h1>
			<h2>OpenSans AaBbCc 123</h2>		
			<h3>OpenSans AaBbCc 123</h3>
			<h4>OpenSans AaBbCc 123</h4>
			<p>OpenSans AaBbCc 123</p>
		</div>
		 
		<div class="font-open-sans-semi-bold">
			<h1>OpenSansSemiBold AaBbCc 123</h1>
			<h2>OpenSansSemiBold AaBbCc 123</h2>		
			<h3>OpenSansSemiBold AaBbCc 123</h3>
			<h4>OpenSansSemiBold AaBbCc 123</h4>
			<p>OpenSansSemiBold AaBbCc 123</p>
		</div>

		<div class="font-open-sans-bold">
			<h1>OpenSansBold AaBbCc 123</h1>
			<h2>OpenSansBold AaBbCc 123</h2>		
			<h3>OpenSansBold AaBbCc 123</h3>
			<h4>OpenSansBold AaBbCc 123</h4>
			<p>OpenSansBold AaBbCc 123</p>
		</div>

		<div class="font-open-sans-extra-bold">
			<h1>OpenSansExtraBold AaBbCc 123</h1>
			<h2>OpenSansExtraBold AaBbCc 123</h2>		
			<h3>OpenSansExtraBold AaBbCc 123</h3>
			<h4>OpenSansExtraBold AaBbCc 123</h4>
			<p>OpenSansExtraBold AaBbCc 123</p>
		</div>

		<div class="font-hilo-deco">
			<h1>HiLo-Deco AaBbCc 123</h1>
			<h2>HiLo-Deco AaBbCc 123</h2>		
			<h3>HiLo-Deco AaBbCc 123</h3>
			<h4>HiLo-Deco AaBbCc 123</h4>
			<p>HiLo-Deco AaBbCc 123</p>
		</div>

		<div class="font-feltpen">
			<h1>Feltpen AaBbCc 123</h1>
			<h2>Feltpen AaBbCc 123</h2>		
			<h3>Feltpen AaBbCc 123</h3>
			<h4>Feltpen AaBbCc 123</h4>
			<p>Feltpen AaBbCc 123</p>
		</div>
	</div>
</div>
