<ul class="nav nav-tabs">
	<li class="nav-item">
			<a id="theme" class="nav-link theme-link active" href="#" data-turbolinks="false">Theme</a>
	</li>
	<li class="nav-item">
			<a id="color" class="nav-link theme-link" href="#" data-turbolinks="false">Colors</a>
	</li>
	<li class="nav-item theme-css-link">
			<a id="class" class="nav-link theme-link" href="#" data-turbolinks="false">Classes</a>
	</li>
	<li class="nav-item" style="display: none;">
		<%-# link_to 'Workspace SCSS', edit_scss_workspace_admin_theme_path(@theme), :class => 'nav-link' %>
    <a id="work" class="nav-link theme-link" href="#" data-turbolinks="false">Workspace SCSS</a>
	</li>
	<li class="nav-item">
			<a id="prod" class="nav-link theme-link" href="#" data-turbolinks="false">Production SCSS</a>
	</li>
</ul>
