<%= form_with(model: admin_address, local: true) do |form| %>
  <% if admin_address.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(admin_address.errors.count, "error") %> prohibited this admin_address from being saved:</h2>

      <ul>
      <% admin_address.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
