<h1>Admin Addresses</h1>

<table class="responsive nowrap table table-hover" id="dttb-admin_addresses" data-sort="true" data-source="<%= url_for(format: :json)%>">
  <thead>
    <tr>
      <th data-data="url" data-orderable="false" data-class-name="all" data-searchable="false" class="skip-export" width="100px"></th>
    </tr>
  </thead>

</table>

<br>

<%= link_to 'New Admin Address', new_admin_admin_address_path %>