/*
 * Place all the styles related to the admins interface here.
 * They will automatically be included in admins.css.
 * You can use Sass (SCSS) here: http://sass-lang.com/
 *
 *= require_self
 */

/*
@import "jquery-ui";
@import "cropper";
@import "flatpickr";
*/

.admin-layout {

	$body_bg: #e6e6e6;
	$main_bg: #fff;
  $text-color:#000;
  $navbar-main-background:#000000;
  $navbar-main-text:#f2f2f2;
  $sunny:#ffffb3;
  $operations-background:#e6e6e6;

	margin-left:auto;
	margin-right:auto;
	text-align:left;
	max-width:1280px;

	background-color: $body_bg;

	.btn-right {
		float: right;
	}

	.keipress-head {
		float: left;
		width:100%;
		padding-top:10px;
		background-color: $navbar-main-background;
		color: $navbar-main-text;
		a {
			color: $navbar-main-text;
		}
		.keipress-logo {
			float: left;
			width:80%;
			padding-left:20px;
			img {
				float:left;
				max-width:25px;
				max-height:25px;
				margin-right:10px;
			}
			icon {
				color:$sunny;
			}
			a:hover {
				color: $navbar-main-text;
				text-decoration:none;
			}
		}
		.keipress-sign-out {
			float:right;
			width:20%;
			text-align: right;
			padding-right:20px;
			a:hover {
				color: $navbar-main-text;
			}
		}
	}

	.edit-scss-production .edit-scss-workspace {
		.CodeMirror {
			border: solid 1px #e6e6e6;
		  height: 500px;
		}
	}
	#navbar_brand, #navbar_form, #dropdown_select {
		.CodeMirror {
			border: solid 1px #e6e6e6;
		  height: 150px;
		}
	}

	.codemirror-html {
		height: auto;
	}

	.form-control-border {
		padding: 0;
		border: solid 1px #ccc;
	}
	a:hover {
		color:$text-color;
		background-color:transparent;
	}
	.navbar {
		min-height:40px;
	}

	.bg-dark {
		background-color:#000 !important;
	}

	.color_btn {
		margin: 2px;
	}

	#error_explanation {
	  color: red;
	  ul {
	    color: red;
	    margin: 0 0 30px 0;
	  }
	}

	.field_with_errors {
		color: red;
		background-color: #fff;
	}

	div.error {
		padding: 0;
		border: solid 1px red;
		.help-inline {
			display: none;
		}
	}
	.error-list {
		list-style: none;
	}

	main {
		background-color: $main_bg;
		padding-top:10px;
		padding-left:10px;
		padding-right:10px;

		.row {
			padding: 7px;
		}

		div[class*="col-"] {
			margin:0;
			padding:5px 20px 5px 20px;
		}

		.tabbed-header {
			margin-top: 20px;
			margin-bottom: 20px;
		}

		a {
			color:$text-color !important;
		}
		.page-header {
			margin-bottom:20px;
		}
		.align-center {
			text-align:center;
		}
		.operations {
			margin-top:50px;
			text-align:center;
			padding:5px 0 10px 0;
			background-color:$operations-background;
			border:solid 2px $operations-background;
			-moz-border-radius:5px;
			border-radius: 5px;
			-webkit-border-radius: 5px;
			.nav-item {
				padding-top: 7px;
			}
			.btn {
				margin-top: 20px;
				margin-bottom: 7px;
				margin-left: auto;
				margin-right: auto;
			}
		}
		.admin-table {
			.attr {
				width: 30%;
				background-color: #f2f2f2;
			}
		}

		.image-original {
			width: 100%;
			margin-top: 20px;
	    margin-left:auto;
	    margin-right: auto;
	    margin-bottom: 10px;
		}
		.image-buttons {
			width: 100%;
	    margin-left:auto;
	    margin-right: auto;
	    margin-bottom: 10px;
	    .btn {
	    	margin-right:2px;
	    	margin-bottom:2px;
	    }
		}
		.crop-workspace {
			width: 100%;
	    margin-left:auto;
	    margin-right: auto;
		}
		.crop-controls {
			width: 100%;
	    margin-left:auto;
	    margin-right: auto;
	    margin-bottom: 10px;
	    .btn {
	    	margin:2px;
	    }
		}

		.img-preview {
		  background-color: #f7f7f7;
		  text-align: center;
		  width: 100%;
		  overflow: hidden;
		}

		.preview-lg {
		  height: 9rem;
		  width: 16rem;
		}

		.image-place {
			margin-bottom: 20px;
			width: 100%;
			text-align:center;
			background-color:#cccccc;
			.btn {

				margin-top: 50px;
				margin-bottom: 50px;
			}
		}
		#theme_colors {
			.form-group {
				margin:0;
				padding:0;
			}
			.form-group {
				margin:0;
				padding:0;
			}
		}
		.theme-color {
			margin:2px;
			border: solid 1px #000;
			width:30px;
			height:30px;
		}

		.pagination {
		  .active {
		  	.page-link {
		  		background-color:#e6e6e6;
		  	}
		  }
		}
		.icon-collection {
			padding: 5px 5px 0 5px;
			margin-bottom:5px;
			margin-left:30px;
			border:solid 2px $operations-background;
			-moz-border-radius:5px;
			border-radius: 5px;
			-webkit-border-radius: 5px;
		}
		.nav-view {
			margin-bottom:20px;
		}
		.bs-help {
			margin-top:20px;
		}
		.badges {
			margin-bottom: 10px;
			padding:10px;
			border:solid 2px $operations-background;
			-moz-border-radius:5px;
			border-radius: 5px;
			-webkit-border-radius: 5px;
		}
		.calendar-table {
			margin-bottom:20px;
		 	td {
				background-color: #E7F3F3;
				vertical-align: top;
				border:solid 1px #000;
				min-width:10%;
				max-width:10%;
			}
			.calendar-cell-blocked {
				background-color: #ffece6;
			}
			.calendar-cell-pad {
				background-color: #fff;
			}
		}
		.calendar-cell-blocked {
			background-color: #ffece6;
		}
		.form-outline {
			padding: 10px;
			border:solid 1px $operations-background;
			-moz-border-radius:5px;
			border-radius: 5px;
			-webkit-border-radius: 5px;
		}
		.page-layout {
			width:100%;
			font-size: 10px;
			margin:10px 2px 2px 2px;
			padding:2px;
			border: solid 1px #ccc;
			p {
			 margin-top:0;
			 margin-bottom:2px;
			}
			a {
				color: #595959;
			}
			a:hover {
				color: #8c8c8c;
			}
			div {
				margin:5px;
				padding:2px;
				border: solid 1px #000;
				.container-layout {
					background-color: #fff;
				}
				.navigation-layout {
					background-color: #e6f7ff;
				}
				.row-layout {
					background-color: #e6f7ff;
				}
				.col-layout {
					background-color: #f2f2f2;
				}
				.content-layout {
					background-color: #E7F3F3;
				}
				.item-layout {
					background-color: #fff6e6;
				}
			}
		}
		.image-selected {
			background-color: #E7F3F3;
		}
	}

	footer {
		color:$navbar-main-text !important;
		margin-bottom:50px;
		border-top:solid 40px #fff;
		padding:10px 0 10px 0;
		color:$navbar-main-text;
		background-color:$navbar-main-background;
		a {
			color:$navbar-main-text;
		}
		img {
			margin-top:-2px;
			max-width:1.25em;
			max-height:1.25em;
		}
		span {
			float:right;
		}
	}
  .activity-indicator {
    text-align: center;
    padding:80px;
    font-size:48px;
  }
  .animate-spin {
		animation:2s linear 0s normal none infinite spin;
		display: inline-block;
	}

  @import "admins_media";
}









