<div id="content_group_select" class="form-group">
	<%= f.label :content_id %>
	<%= f.select :content_id, Content.where(site_id: @site.id).order('name asc').collect { |c| [c.name, c.id] }, {prompt: 'Please Select'}, :class => "form-control" %>
</div>
